.bill {
  padding: 15px 0;
  margin: 0;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.bill .price {
  text-align: right;
}

.bill div p:last-child {
  margin-bottom: 0;
}

.total {
  border-top: none;
}
