.hero-section {
  background: url("../../Assets/bg.jpg") no-repeat center center/cover;
  height: 50vh;
  position: relative;
}

.hero-section-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.hero-section-content form {
  width: 70%;
  margin: 20px auto;
}

@media (max-width: 768px) {
  .hero-section-content {
    width: 65%;
  }
}

@media (max-width: 520px) {
  .hero-section {
    height: 75vh;
  }
}
